<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- typeAliases  
		ex) 아래처럼 dto들 짧게 만들때
	<typeAliases>
		<typeAlias type="spring.member.dto.MemberDTO" alias="memberDTO"/>
	</typeAliases>
	-->
	
	<!-- 매퍼들의 위치를 설정 -->
	<mappers>
		<mapper resource="/sql/memberSQL.xml" />
	</mappers>


</configuration>
